{% extends "layout.html" %}
{% set pageId = "page-create-point" %}

{% block title %}
    <title>Collection point registration</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/create-point.css">
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block content %}

    {% include "partials/page-header.html" %}
    <form action="/savepoint" method="POST">
        <h1>Collection point registration</h1>

        <fieldset>
            <legend>
                <h2>Establishment information</h2>
            </legend>
            <div class="field-group">
                <div class="field">
                    <label for="name">Establishment name</label>
                    <input type="text" name="name" required="required">
                </div>
                <div class="field">
                    <label for="image">Establishment image</label>
                    <input type="url" name="image" required="required" placeholder="http://">
                </div>
            </div>
            <div class="field-group">
                <div class="field">
                    <label for="address">Address</label>
                    <input type="text" name="address" required="required">
                </div>

                <div class="field">
                    <label for="address2">Number</label>
                    <input type="text" name="address2" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">Estate</label>
                    <select name="uf" id="" required="required">
                        <option value="">Select the Estate</option>
                    </select>
                    <input type="hidden" name="state">
                </div>

                <div class="field">
                    <label for="city">City</label>
                    <select name="city" id="" disabled="disabled" required="required">
                        <option value="">Select the City</option>
                    </select>

                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <h2>Collection items</h2>
                <span>Select one or more items below</span>
            </legend>

            <div class="items-grid">
                <li data-id="Lâmpadas">
                    <img src="/icones/lampadas.svg" alt="Lâmpadas">
                    <span>Lamps</span>
                </li>
                <li data-id="Pilhas e Baterias">
                    <img src="/icones/baterias.svg" alt="Pilhas e Baterias">
                    <span>Batteries</span>
                </li>
                <li data-id="Papéis e Papelão">
                    <img src="/icones/papeis-papelao.svg" alt="Papéis e Papelão">
                    <span>Pappers</span>
                </li>
                <li data-id="Resíduos Eletrônicos">
                    <img src="/icones/eletronicos.svg" alt="Resíduos Eletrônicos">
                    <span>Eletronic waste</span>
                </li>
                <li data-id="Resíduos Orgânicos">
                    <img src="/icones/organicos.svg" alt="Resíduos Orgânicos">
                    <span>Organic waste</span>
                </li>
                <li data-id="Óleo de Cozinha">
                    <img src="/icones/oleo.svg" alt="Óleo de Cozinha">
                    <span>Cooking oil</span>
                </li>
            </div>

            <input type="hidden" name="items">

        </fieldset>
        <button type="submit">Register</button>
    </form>
    
    
{% endblock content %}

{% block modal %}
    {% if saved %}
        {% include "partials/point-created.html" %}
    {% endif %}
{% endblock modal %}

{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}